#sidebar-menu.sidebar.left.sidebar-size-2.sidebar-offset-0.sidebar-visible-desktop.sidebar-visible-mobile.sidebar-skin-dark(data-type='collapse')
  div(data-scrollable='')
    ul.sidebar-menu
      li
        a(href='/home')
          i.icon-paint-brush
          span Themes
      li.category Navigation
      li
        a(href='/users/'+username)
          i.icon-user-1
          span Profile
      li
        a(href='/users')
          i.fa.fa-group
          span User Directory
      li
        a(href='/messages')
          i.icon-comment-fill-1
          span Messages
      li
        a(href='/logout')
          i.icon-comment-fill-1
          span Logout
    // /st-container
